# Python
*__pycache__/*
*.pyc
.env
*.venv*

# Node/React Native
node_modules/
yarn.lock
package-lock.json
.expo/

# MacOS
.DS_Store

# Office temporary files
~$*.docx
~$*.pptx
~$*.xlsx

# CDK
cdk.out/
cdk.context.json

# IDE
.vscode/
.idea/
