RAPIDAPI_KEY=4a410bdc57mshab2c08f626ecb44p17a1a3jsn8e484df67f47

KROGER_CLIENT_ID=talknshop-bbc9ttgg
KROGER_CLIENT_SECRET=uobKj2GkmvJ_C0dGdSXGa-9jTLwXe-hvRPbZKZMI
KROGER_ZIP_CODE=95110

# Application Configuration
LOG_LEVEL=INFO
DEBUG=false
